 <div class="row">
   <div class="col-sm-9">
     <div class="row">
       <div class="col-sm-8">
         <div class="m-2 p-2">
           <h4>Shopping Cart</h4>
           <div class="row">
             <div class="col-sm-6">
               <img src="../../assets/img/images.jpg">
             </div>
             <div class="col-sm-6">
               <h6> My First Learning Library : Boxset Of 20 Borad Books F5or Kids (Viertical Design) Borad Books
                 -25-jully-2019 </h6>
             </div>
           </div>
         </div>
       </div>
       <div class="col-sm-2">
         <div class="m-2 p-2">
           <span class="m-3 text-center">Price</span>
           <p class="text-center">Rs 899.00</p>
         </div>
       </div>
       <div class="col-sm-2">
         <div class="m-2 p-2 text-center">
           <span>Quentity</span>
           <h6>1</h6>
         </div>
       </div>
     </div>
   </div>
   <div class="col-sm-3">
       <div class="order-box">
       </div>
   </div>

 </div>
